.hero {
  background-color: rgb(220, 184, 220);
  padding-top: 4rem;
}

#project {
  background-color: rgb(220, 184, 220);
}
section {
  padding-top: 5rem;
}

.my-peta {
  margin-left: 55px !important;
}